/* fonts.css */

@font-face {
  font-family: 'CustomFont';
  src: url('./fonts/Poppins/Poppins-Black.ttf') format('ttf'),
    url('./fonts/Poppins/Poppins-BlackItalic.ttf') format('woff'),
    url('./fonts/Poppins/Poppins-Bold.ttf') format('ttf'),
    url('./fonts/Poppins/Poppins-BoldItalic.ttf') format('ttf'),
    url('./fonts/Poppins/Poppins-ExtraBold.ttf') format('ttf'),
    url('./fonts/Poppins/Poppins-ExtraLight.ttf') format('ttf'),

    url('./fonts/Poppins/Poppins-ExtraLightItalic.ttf') format('ttf'),

    url('./fonts/Poppins/Poppins-ExtraLight.ttf') format('ttf'),
    url('./fonts/Poppins/Poppins-ExtraLightItalic.ttf') format('ttf'),
    url('./fonts/Poppins/Poppins-Italic.ttf') format('ttf'),
    url('./fonts/Poppins/Poppins-LightItalic.ttf') format('ttf'),
    url('./fonts/Poppins/Poppins-Medium.ttf') format('ttf'),
    url('./fonts/Poppins/Poppins-MediumItalic.ttf') format('ttf'),
    url('./fonts/Poppins/Poppins-Regular.ttf') format('ttf'), url('./fonts/Poppins/Poppins-SemiBold.ttf') format('ttf'), url('./fonts/Poppins/Poppins-SemiBoldItalic.ttf') format('ttf'), url('./fonts/Poppins/Poppins-Thin.ttf') format('ttf'), url('./fonts/Poppins/Poppins-ThinItalic.ttf') format('ttf');





    /* Add additional src lines for different font weights or styles */
    font-weight: normal;
  font-style: normal;
}
body {
    font-family: 'CustomFont', Arial, sans-serif; /* Use the name of your custom font family */
font-size: "20px";
}