body {
  margin: 0;
  font-family: 'CustomFont', Arial, sans-serif; /* Use the name of your custom font family */

}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
