.task-list-container {
  margin: 0 auto;
  padding: 20px;
}
.task-list {
  padding: 0;
  margin: 0;
}
/* Add this CSS to your global stylesheet or component-specific stylesheet */
.container-from {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: "10xpx";
  min-height: 80vh; /* Ensure the login form is centered vertically */
}
.form-container {
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

